<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link type="text/css" href="/static/css/navbar.css" rel="stylesheet">
    <!-- jsPanel CSS -->
    <link href="https://cdn.jsdelivr.net/npm/jspanel4@4.7.0/dist/jspanel.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/kg.css">
    <!--<link rel="stylesheet" href="/static/css/materialize.min.css">-->
    <style>
        body{
            margin: 0;
            background-image: url(/static/images/a1.jpg);
        }
        .content{
            height: calc(100% - 60px);
        }
        .graphSide{
            height: 100%;
            width: 100%;
        }
        .icon{
            text-align: center;
            width: 156px;
            height: 60px;
            margin: 7px;
            margin-top: -60px;
        }
        .header{
            /*font-family: Helvetica Neue,Helvetica,Arial Unicode MS,Arial;*/
            font-size: 10pt;
            padding: 0 15px;
            position: relative;
            text-align: center;
        }
        .title{
            text-align: center;
            color: #FFFFFF;
            font-size: 28px;
            line-height: 75px;
        }
    </style>
</head>
<body >
    <div id="app">
        <div class="head">
            <nav class="" role="navigation">
                <div class="header">
                    <span class="title">绘图推理工具</span>
                    <div class="icon">
                        <a href="#">
                            <img src="/static/images/logo.png" height="45">
                        </a>
                    </div>
                    <!--<ul id="rightNav">-->
                        <!--<li>-->
                            <!--&lt;!&ndash;<a href="http://localhost:8081/TeamWorking/index.html"><strong>HOME</strong></a>&ndash;&gt;-->
                            <!--<a href="index.html"><strong>HOME</strong></a>-->
                        <!--</li>-->
                        <!--<li class="nav_hello">-->
                            <!--<a><strong id="userNameLabel">NJGIS</strong></a>-->
                        <!--</li>-->
                        <!--<li class="nav_exit">-->
                            <!--<a><strong id="groupIDLabel">GroupID</strong></a>-->
                        <!--</li>-->
                    <!--</ul>-->
                </div>
            </nav>
        </div>
        <div class="content">
            <div class="graphSide">
                <iframe id="ModelEditor" src="/chatBaseMap/graph"  style="width:86%;height:760px;border:0px;position:relative;margin-left: 7%;margin-bottom: 3%"></iframe>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<!--jsanel引用开始->
<!-- jsPanel JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.7.0/dist/jspanel.js"></script>
<!-- optional jsPanel extensions -->
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.7.0/dist/extensions/modal/jspanel.modal.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.7.0/dist/extensions/tooltip/jspanel.tooltip.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.7.0/dist/extensions/hint/jspanel.hint.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.7.0/dist/extensions/layout/jspanel.layout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.7.0/dist/extensions/contextmenu/jspanel.contextmenu.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.7.0/dist/extensions/dock/jspanel.dock.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.7.0/dist/jspanel.js"></script>
<!-- jsPanel引用结束 -->
<!-- optional jsPanel extensions -->
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.7.0/dist/extensions/modal/jspanel.modal.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.7.0/dist/extensions/tooltip/jspanel.tooltip.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.7.0/dist/extensions/hint/jspanel.hint.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.7.0/dist/extensions/layout/jspanel.layout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.7.0/dist/extensions/contextmenu/jspanel.contextmenu.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspanel4@4.7.0/dist/extensions/dock/jspanel.dock.js"></script>


<script src="/static/js/d3.v3.min.js"></script>
<script src="/static/js/kg.js"></script>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/materialize.min.js"></script>

<script>
    $(document).ready(function () {
        //创建一个默认的panel
        jsPanel.create({
            theme:'primary',
            headerTitle:'聊天室',
            position:'right-bottom',
            contentSize:'400 420',
            resizeit: {
                minWidth: 400,
                maxWidth: 400,
                minHeight:420,
                maxHeight:420,
            },
            contentOverflow: 'hidden',
            content:'<iframe id="chatContainer" src="/chatBaseMap/chatRoom" style="width: 100%; height: 100%;"></iframe>',
            // content:'<iframe src="https://derpanoramafotograf.com/EN/projects/fskrpano.php?pano=091128-116" style="width: 100%; height: 100%;"></iframe>',
        });

        //创建第二个jspanel
        jsPanel.create({
            theme:'primary',
            headerTitle:'推理流程记录',
            position:'left-bottom',
            contentSize:'450 420',
            resizeit: {
                minWidth: 450,
                maxWidth: 450,
                minHeight:420,
                maxHeight:420,
            },
            contentOverflow: 'hidden',
            content:'<div id="knowledge-container" style="width: 100%; height: 100%;"></div>',
        });

        var t1_text = '{"1": {"name": "核心词","type": "核心词"},"2": { "name": "推荐词", "type": "推荐词"}}'
        var t2_text = '[{ "source": 1, "target": 2, "rela": "某个维度" }]'
        let contentHook = function(item){
            return "<div>"+item.desc+"</div>"
        }
        try {
            $("#knowledge-container").html("")
            var data = {}
            data.nodes = JSON.parse(t1_text);
            data.links = JSON.parse(t2_text);
            var config = {
                //鼠标mouseover后的弹窗
                content: "",
                contentHook: contentHook,
                //节点配色方案（可为空)
                //nodeColor: document.getElementById("t3").value,
                //连接线配色方案（可为空）
                //linkColor: document.getElementById("t4").value,
                width: 450,
                height: 420
            }
            initKG(data, config, "#knowledge-container")
        } catch (err) {
            Materialize.toast('渲染存在异常', 2000)
        }

    });

    var createKnowledge = function () {
        var graph = document.getElementById("ModelEditor")
        var n=0;
        var nodes = [],links = []
        for (let i = 0; i < graph.contentWindow.GeoRules.length; i++) {
            var rule = graph.contentWindow.GeoRules[i]
            // 判断是否有同名概念
            var flag = false
            var m
            for (let j = 0; j < nodes.length; j++) {
                if (rule.from == nodes[j].name) {
                    flag = true
                    nodes[j].type = "核心词"
                    m = j
                }
            }
            if (!flag) {
                // 插入新的节点
                var node = {
                    name: rule.from,
                    type: "核心词"
                }
                nodes.push(node)
                m = n
                n++
            }
            // to概念
            for (let j = 0; j < rule.to.length; j++) {
                // 判断是否有同名概念
                var flag = false
                var a
                for (let k = 0; k < nodes.length; k++) {
                    if (rule.to[j] == nodes[k].name) {
                        flag = true
                        a = k
                    }
                }
                if (!flag){
                    var node = {
                        name: rule.to[j],
                        type: "推荐词",
                        desc: rule.description
                    }
                    nodes.push(node)
                    a = n
                    n++
                }
                var link ={
                    source: m,
                    target: a,
                    rela: rule.aspect.substring(0,2)+'('+rule.type+')'
                }
                links.push(link);
            }

        }
        let contentHook = function(item){
            return "<div>"+item.desc+"</div>"
        }
        try {
            $("#knowledge-container").html("")
            var data = {}
            data.nodes = nodes;
            data.links = links;
            var config = {
                //鼠标mouseover后的弹窗
                content: "",
                contentHook: contentHook,
                //节点配色方案（可为空)
                //nodeColor: document.getElementById("t3").value,
                //连接线配色方案（可为空）
                //linkColor: document.getElementById("t4").value,
                width: document.getElementById("knowledge-container").clientWidth,
                height: document.getElementById("knowledge-container").clientHeight
            }//1349,735
            initKG(data, config, "#knowledge-container")
        } catch (err) {
            Materialize.toast('渲染存在异常', 2000)
        }

    }


</script>
</html>