<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>概念图详情</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .title{
            text-align: center;
        }
        .el-collapse-item__header{
            font-size: medium !important;
            font-weight: bold;
        }
        span,p{
            font-size: 16px;
        }
        #app{
            width: 80%;
            margin-left: 10%;
        }
        .imageContainer{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .conceptImage{
            width: 30%;
            margin: 10px;
            border: 2px solid #bab3b3;
            border-radius: 10px;
        }
    </style>
</head>
<body>
<div id="app">
    <h2 class="title" th:text="${conceptMap.name}"></h2>
    <div class="imageContainer">
        <img class="conceptImage" th:src="${conceptMap.pathUrl}" alt="概念图">
    </div>
    <el-collapse v-model="activeNames" >
        <el-collapse-item title="语义描述" name="concept">
            <div th:each="concept:${conceptMap.concept}">
                <p th:text="'定义来源：'+${concept.source}"></p>
                <p th:text="'定义：'+${concept.definition}"></p>
                <div class="imageContainer" th:each="img:${concept.relateImages}">
                    <img class="conceptImage" th:src="${img.pathUrl}" alt="概念关联图">
                </div>
            </div>
        </el-collapse-item>
        <el-collapse-item title="属性特征" name="property">
            <div th:each="property:${conceptMap.properties}">
                <p th:text="'属性类型：'+${property.type}"></p>
                <p th:text="'属性描述：'+${property.description}"></p>
                <div class="imageContainer" th:each="img:${property.relateImages}">
                    <img class="conceptImage" th:src="${img.pathUrl}" alt="属性关联图">
                </div>
            </div>
        </el-collapse-item>
        <el-collapse-item title="几何形状" name="shape">
            <p th:text="${conceptMap.shapeInfo.keyword} +':'+ ${conceptMap.shapeInfo.desc}"></p>
            <div class="imageContainer" th:each="img:${conceptMap.shapeInfo.relateImages}">
                <img class="conceptImage" th:src="${img.pathUrl}" alt="形状关联图">
            </div>
        </el-collapse-item>
        <el-collapse-item title="空间位置" name="position">
            <p th:text="${conceptMap.spacePosition.type}+':'+${conceptMap.spacePosition.desc}"></p>
            <div class="imageContainer" th:each="img:${conceptMap.spacePosition.relateImages}">
                <img class="conceptImage" th:src="${img.pathUrl}" alt="位置关联图">
            </div>
        </el-collapse-item>
        <el-collapse-item title="演化过程" name="process">
            <div th:each="process:${conceptMap.processes}">
                <p th:text="'过程名：'+${process.name}"></p>
                <p th:text="'过程描述：'+${process.description}"></p>
                <span>参与要素：</span>
                <span th:each="ele:${process.elements}">
                    <span th:text="${ele}+'、'"></span>
                </span>
                <div class="imageContainer" th:each="img:${process.relateImages}">
                    <img class="conceptImage" th:src="${img.pathUrl}" alt="过程关联图">
                </div>
            </div>
        </el-collapse-item>
        <el-collapse-item title="要素关系" name="relation">
            <div th:each="relation:${conceptMap.elementRelations}">
                <span>参与要素：</span>
                <span th:each="ele:${relation.relateElements}">
                    <span th:text="${ele}+'、'"></span>
                </span>
                <p th:text="'关系类型：'+${relation.relateType}"></p>
                <p th:text="${relation.relateValue}"></p>
                <div class="imageContainer" th:each="img:${relation.relateImages}">
                    <img class="conceptImage" th:src="${img.pathUrl}" alt="关系关联图">
                </div>
            </div>
        </el-collapse-item>
    </el-collapse>
</div>

</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el:"#app",
        data:function() {
            return {
                activeNames: ['concept','property','shape','position','process','relation']
            };
        },
        methods: {

        }
    })
</script>
</html>